/* general */
body {
    background-color: #4B2786;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1em;
}
.wrapper {
   height: 100vh;
}

/* main */
main>div#field {
    width: 70%;
    max-width: 700px;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    border: 10px solid #4D39AC;
}