/* general */
body {
    background-color: #4B2786;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1em;
}
.wrapper {
   height: 100vh;
}

/* main */
main>div#field {
    width: 70%;
    max-width: 700px;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    padding: 2px;
    border: 10px solid #4D39AC;
}
main>div#field .box {
    width: calc(100% / 10);
    aspect-ratio: 1 / 1;
    background-color: #36ADF9;
    color: #ffffff;
    font-size: 1.2rem;
    border: 2px solid  #4B2786;
    cursor: crosshair;
}
main>div#field .box.active {
    background-color: #9A0FC1;
}
main>div#field .box.medium {
    width: calc(100% / 9);
}
main>div#field .box.hard {
    width: calc(100% / 7);
}